.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

/* common button : White */
.btn-wht {
    width: 200px;
    min-width: fit-content;
    margin: 5%;
    padding: 12px;
    background-color: #FFFFFF;
    color: #372453;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.btn-wht:hover{
    background-color: rgb(231, 231, 231);
}

/* common button : Purple */
.btn-ppl {
    width: 200px;
    min-width: fit-content;
    margin: 5%;
    padding: 12px;
    background-color: #33136c;
    color: #f4eeff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.btn-ppl:hover{
    background-color: rgb(46, 24, 85);
}

/* common button : Blue */
.btn-blu {
    width: 30%;
    min-width: fit-content;
    margin: 5%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.btn-blu:hover {
    background-color: #0056b3;
}


/* common button Disabled */
.btn-wht:disabled,
.btn-ppl:disabled,
.btn-blu:disabled {
    background-color: #6c757d;
    color: #ddd;
    cursor: not-allowed;
}

.btn-wht:disabled:hover,
.btn-ppl:disabled:hover,
.btn-blu:disabled:hover {
    background-color: #6c757d;
}

