form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10vh auto;
    padding: 5vh 0;
    background: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form h2 {
    text-align: center;
    margin: 1.1rem;
    color: #007BFF;
}

form .input-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

form input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    width: 80px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    color: black;
    margin-right: 10px;
}